/* Panels */
.home-container{
    display: flex;
}

.user-sidepanel{
    width: 22%;
    height: 100vh;
    
    top: 0; 
    position: sticky;

}

.timeline-mainpanel{
    width: 48%;
}

.search-sidepanel{
    width: 30%;
    height: 100vh;
    
    top: 0; 
    position: sticky;
}

/* profile-picture */

.profile-picture{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.profile-picture img{
    border-radius: 50%;
}

