.singup-form{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    /* background-color: palevioletred; */
}

.singup-form form{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: 74%;
    
    margin: 0 1.875rem;
    padding: 1.875rem 2.5rem;
    
    /* background-color: paleturquoise; */
}

.singup-form img {
    width: 2.5rem;
    height: auto;
    margin-bottom: 2.688rem;
    align-self: center;
}

.singup-form h2{
    font-family: 'Segoe UI';
    text-decoration: none;
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    color: #000000;
    
    margin-bottom: 2.188rem;
    align-self: flex-start;
    /* background-color: papayawhip; */
}

.singup-form form div{
    width: 100%;
    /* background-color: peachpuff; */
}
.singup-form input{

    border: 1px solid #cccccc;
    border-radius:6px;

    width: 100%;
    height: 4.375rem;

    margin-bottom: 1.563rem;
    
}

.singup-form input[type='text'], 
.singup-form input[type='password'],
.singup-form input::-webkit-input-placeholder {
    font-family: 'Roboto';
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.09px;
    color: #292929;
    text-indent: 20px;
    
}

/* Button */

.button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 3.75rem;
    
    border-radius: 4.75rem;
    
    font-family: 'Segoe UI';
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 23.94px;
    color: #FFFFFF;
}

.singup-button {
    background: #1da1f2;
    
    margin-top: 1.438rem;
    margin-bottom: 4.25rem;

    transition: all .2s ease;
}

.singup-button:hover {
    background: #32b1ff;
}

/* Policy */
.singup-form .policy {
    align-self: flex-start;
    width: 60%;
}

.singup-form .policy p,
.singup-form .policy a,
.singup-form .policy Link{
    font-family: 'Roboto';
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
}

.singup-form .policy a,
.singup-form .policy Link{
    color: #1E97E1;
}