.usertag-wrap{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.usertag-wrap .profile-picture img{
    height: 3.125rem;
    width: 3.125rem;
}

.usertag-wrap  .profile-picture{
    padding-right: 0.625rem;
}

.usertag-info h3 {
    font-family: 'Segoe UI';
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 21.28px;
    color: #000000;
}

.usertag-info h4 {
    font-family: 'Roboto';
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 18.75px;
    color: #666666;
}