.footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 4.5vh;
}

.footer a {

    font-family: Roboto;
    text-decoration: none;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: #000000;

    margin: 0rem .6rem;
    border-bottom: 1px solid transparent;
    transition: all .3s ease;
}

.footer a:hover {
    border-bottom: 1px solid #000000;
}